<form action="/products" method="POST">
    <div class="mb-3">
        <p class="form-label">Nombre</p>
        <input class="form-control" required type="text" name="name" />
    </div>
    <div class="mb-3">
        <p class="form-label">Precio</p>
        <input class="form-control" required type="number" name="price" />
    </div>
    <div class="mb-3">
        <p class="form-label">Thumbnail</p>
        <input class="form-control" required type="text" name="thumbnail" />
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Enviar</button>
    </div>
</form>

