<div class='form-group'>
    <div class="mb-3">
        <p class="form-label">Email</p>
        <input class="form-control" required type="email" name="email" id="email"/>
    </div>
    <div class="mb-3">
        <p class="form-label">Mensaje</p>
        <textarea class="form-control" required type="text" name="message" id="message"></textarea>
    </div>
    <div class="mb-3">
        <button onclick="sendMessage()" class="btn btn-primary">Enviar mensaje</button>
    </div>
</div>



