<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Offcanvas navbar large">
  <div class="container-fluid">
    <h4 class="navbar-brand" href="#">Adiós {{user}}  <span id="user"></span></h4>
  </div>
</nav>
<script> setTimeout(() => {location.href = '/'}, 2000) </script>

