{{> formProducts}}
<div class="bg-light">
    <h2 class="d-flex justify-content-center">Lista de productos</h2>
    <div id="products"></div>
</div>

{{> formMessage}}
<div class="bg-light">
    <h2 class="d-flex justify-content-center">Lista de mensajes</h2>
    <div id="msg"></div>
</div>

